<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Hệ thống thông tin sinh viên</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
<link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css'>
<link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/typicons/2.0.9/typicons.min.css'>
<link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.0/animate.min.css'><link rel="stylesheet" href="/stylesheet/style.css">

</head>
<body>
<!-- partial:index.partial.html -->
<body id="particles-js"></body>
<div class="animated bounceInDown">
  <div class="container">
    <span class="error animated tada" id="msg"></span>
    <form name="form1" class="box" action="/login" method="POST">
      <h4>Hệ thống <span>thông tin sinh viên</span></h4>
      <h5>Vui lòng đăng nhập để tiếp tục.</h5>
        <input type="text" name="email" placeholder="Email">
        <i class="typcn typcn-eye" id="eye"></i>
        <input type="password" name="password" placeholder="Passsword" >
        
        <input type="submit" id="btnLogin" value="Sign in" class="btn1">
        
      </form>
      <a href="/auth/google" class="dnthave" aria-hidden="true">Hoặc &ensp;<i class="fa fa-google" aria-hidden="true"> Đăng nhập bằng Google</i></a>
  </div> 
       <div class="footer">
      
    </div>
</div>
<!-- partial -->
  <script src='https://cldup.com/S6Ptkwu_qA.js'></script><script src="/javascripts/scripts.js"></script>

</body>
</html>